body {
	background-color: #222;
    
}

.chat-window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
	height: -220%;
}

.chat-box {
	background-color: #3d3d3d;
	border-radius: 10px;
    border-color: black;
	padding: 20px;
	width: 600px;
}

.chat-text {
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	color: #fff;
	line-height: 1.5;
	animation: typing 3s steps(30);
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid #fff;
	padding-right: 10px;
    margin-top: 10px;
    
}

@keyframes typing {
	0% {
		width: 0;
	}
	50% {
		border-color: transparent;
	}
	100% {
		width: 100%;
        
	}
}

.chat-text.finished {
	animation: none;
    border-right: transparent;
}

h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.button1 {
	background-color: #7289DA;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
    position: absolute;
    top: 20px;
    right: 20px;
}

button:hover {
	background-color: #5c6bc0;
}


.projects {
    
    margin-top: 350px;
    background-color: #222;
    padding: 50px 0;
    align-items: center;
	justify-content: center;
  }
  
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .project {
    background-color: #3d3d3d;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    width: 300px;
  }
  
  .project img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .project h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .project:hover {
    background-color: #444;
    cursor: pointer;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }

  .project-button {
    background-color: #7289DA;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 600px) {
    .project {
      font-size: 14px;
    }
  }
  